@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* General styles */

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

/* Header content styles */

.header {
  flex: auto;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  padding: 0 96px;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 16px 0;
}

.logo,
h1 {
  color: #f9faf8;
}

.logo {
  font-size: 24px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

.nav-container ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
}

.nav-container a,
.hero-text-container p {
  font-size: 18px;
  color: #e5e7eb;
}

.nav-container a {
  text-decoration: none;
}

.hero-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 48px;
  padding: 96px 0;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.hero-text-container button {
  color: white;
  background-color: #3882f6;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
}

.hero-container img {
  flex: 1 0 auto;
}

/* Information content styles */

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 48px 96px 48px;
}

.info-section h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  padding-bottom: 48px;
}

.figure-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.figure p {
  width: 150px;
}

.figure p {
  text-align: center;
}

/* Quote content styles */

.quote-section {
  background-color: #e5e7eb;
  padding: 96px 192px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.citation {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

/* Call to action content styles */

.call-to-action-section {
  padding: 96px;
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3882f6;
  gap: 16px;
  padding: 48px 96px;
  border-radius: 8px;
}

.banner-text h2 {
  color: #f9faf8;
}

.banner-text p {
  color: #e5e7eb;
}

.banner-container button {
  color: white;
  background-color: #3882f6;
  padding: 8px 24px;
  border: 2px solid white;
  border-radius: 8px;
}

/* Footer content styles */

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 40px 0;
}
